.imgProdect {
  width: 100px;
  height: 90px;
}

/* Breadcrumb  */
.Breadcrumb {
  padding-top: 50px;
  padding-bottom: 39px;
  max-width: 940px !important;
}

.Breadcrumb li {
  display: inline;
  color: var(---green);
}
.Breadcrumb ul li a {
  color: #000;
}
.Breadcrumb ul li a::after {
  font-family: "FontAwesome 5 Free";
  font-weight: 900;
  content: "\27A6";
  color: #000;
}

/* table */
.divTable {
  margin-bottom: 100px;
}
.tableCenter {
  display: flex;
  justify-content: center;
}

.table {
  margin-bottom: 14px;

  /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
  display: inline-block;
  max-width: 100%;

  overflow-x: auto;

  /* optional - looks better for small cell values */
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table th,
.table td {
  padding: 6px 12px;
  border: 1px solid #d9d7ce;
  text-align: center;
}

.table th {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

/* Tbody Pordect */
.Color-Size {
  text-align: center;
}

.inputOrders {
  border: none;
  width: 50px;
  height: 35px;
  outline: none;
  border: solid #d4d4d4 1px;
  text-align: center;
  font-size: 14px;
  /* hide arrows input firefox */
  -moz-appearance: textfield;
}

/* hide arrows input chrome , safari,edge,opera */
.inputOrders::-webkit-inner-spin-button,
.inputOrders::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* delete botton */
.p-bottom {
  position: relative;
  width: 97px;
}

.delet {
  border: none;
  background-color: #fff;

  cursor: pointer;
  float: right;
}

/* Update Cart & Continue Shopping */
.trend {
  text-align: end;
}
.btn-table-b {
  max-width: 940px !important;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ContinueShopping {
  width: 190px;
  height: 35px;
  background-color: #3cb878;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  margin-left: 20px;
  border: solid 1px #eeeeee;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.UpdateCart {
  border: solid 1px #cccccc;
  width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.tdend-TEMP {
  border: none !important;
}

@media (min-width: 768px) {
  .containerTABLE {
    max-width: 100% !important;
  }
}

@media (max-width: 954px) {
  /* center table */
  .table {
    display: flex;
    justify-content: center;
  }

  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .Color-Size {
    text-align: center;
    display: inline;
  }

  /* Quantity span  */
  .Quantity {
    float: left;
    margin-top: 4%;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Total price vretical center; */
  .p-bottom {
    display: inline;
  }

  /* btn bottom */
  .trend {
    border: none;
  }
  .tdend-TEMP {
    display: flex;
    justify-content: center;
  }

  .btn-table-b {
    justify-content: center;
  }
  .ContinueShopping {
    margin-left: 0;
  }
}
