body {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  ---green: #3cb878;
}

/* header */

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

#header {
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  height: 60px;
  width: 100%;
}
.header {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

/* headerTop */
.headerTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* header-top-left */
.header-top-left {
  display: flex;
}
/* Number */
.s {
  color: #464646;
  margin-right: 40px;
  margin-left: 40px;
}
.Number {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.Number span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.fa-phone {
  color: #fff;
  font-size: 16px;
  margin-right: 26px;
}

/* email */
.email {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.fa-envelope {
  color: #fff;
  font-size: 16px;
  margin-right: 26px;
}

/* header-top-right */
/* social */
.social {
  color: #fff;
  display: flex;
  column-gap: 29px;
}
.social i {
  color: #fff;
  font-size: 16px;
}

/* header2 */
#header2 {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.header2 {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/* logo */
.logo a span {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins-light", sans-serif;
}
.logo a span:nth-child(1) {
  color: #63c693;
}

.logo a span:nth-child(2) {
  color: #000;
}

/* list */

.list ul {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.list ul li a {
  color: #3f4853;
  position: relative;
  transition: ease 400ms;
}
.list ul li a:active {
  color: #3cb878;
  
}

.list ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3cb878;
  bottom: -3px;
  left: 0;
  transition: ease 400ms;
}
.list ul li a:hover::after {
  width: 100%;
 
}


/* cart */
.cart {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.cart div {
  cursor: pointer;
}
.cart-Number {
  position: absolute;
  color: #fff;
  background-color: #3cb878;
  border: solid #3cb878 7px;
  border-radius: 50%;
  border-top-width: 2px;
  border-bottom-width: 1px;
  margin-left: -10px;
  margin-top: -15px;
}

/* section1 */
#section1 {
  height: 800px;
  width: 100%;
  background-image: url(./img/pexels-moose-photos-1036623.png);
  background-size: auto;
  background-position: 50% 13%;
  background-repeat: no-repeat;
}

/* text-and-Button  */

.text-and-Button {
  margin-left: 10%;
  padding-top: 230px;
}

.textOne {
  font-size: 60px;
  font-weight: 900;
}

.textTOW {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #3cb878;
}
.section1-P {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  max-width: 553px;
}

.section1-button {
  border: none;
  background: none;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  position: relative;
  padding-left: 5px;
  width: 100px;
  height: 44px;
  margin-top: 31px;
  cursor: pointer;
}

.section1-button span:nth-child(1) {
  position: absolute;
  background: #333333;
  height: 35%;
  width: 3px;
  top: 0;
  right: 94px;
}

.section1-button span:nth-child(2) {
  position: absolute;
  background: #333333;
  height: 35%;
  width: 3px;
  bottom: 0;
  right: 94px;
}

/* BestSellesProdects */
#BestSelles {
  width: 100%;
}
.BestSellesDiv {
  height: 714px;
  display: flex;
  flex-direction: row;
}
.BestSellesProdects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 100px;
  margin-bottom: 164px;
}
.BestSellesProdect {
  position: relative;
  cursor: pointer;
}

/* BestSellesText */
.BestSellesText {
  min-width: 186px;
  margin-top: 9%;
  padding-left: 10px;
  flex-basis: 27%;
}

.BestSellesText h4 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.BestSellesTextP1 {
  font-size: 14px;
  font-family: "DroidSerif-Italic", sans-serif;
  color: #3cb878;
}
.BestSellesTextP2 {
  font-size: 14px;
  font-weight: 100;
}

/* Best Selles Prodect */
.BestSellesProdect {
  max-width: 330px;
}
.BestSellesProdectImg {
  max-width: 100%;
  height: 313px;
}
.BestSellesProdectTitle {
  font-size: 14px;
  max-width: 300px;
  height: 10px;
  margin-bottom: 26px;
}
.BestSellesProdectPrice {
  font-size: 18px;
  color: #3cb878;
}
.BestSellesProdectPrice::before {
  content: "$";
  color: #3cb878;
}

/* stars */
.stars-outer {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  margin-left: 10px;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff9600;
}

/* options */
.BestSellesProdect:hover > .options {
  display: block;
  cursor: pointer;
}
.options {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  transition: ease 400ms;
}

.options div {
  background-color: #3cb878;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}

/* features */
#features {
  width: 100%;
  background-color: #f5f6f9;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.features div img {
  width: 40px;
  height: 32px;
}

.features div p:nth-child(2) {
  margin-bottom: 10px;
}
.features div p:nth-child(3) {
  margin-top: 0;
}

/* offer */
#Categories-offer {
  width: 100%;
  background-color: #2e3348;
}
.Categories-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 460px;
  background-color: #2e3348;
}
.Categories-offer div a img {
  height: 290px;
  max-width: 300px;
}

/* FeaturedProducts */
#FeaturedProducts {
  width: 100%;
}
.FeaturedProducts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  margin-top: 100px;
  margin-bottom: 164px;
}
/* top */
#FeaturedProducts h2 {
  font-size: 30px;
  color: #333333;
  text-align: center;
  margin-bottom: 0;
}
.FeaturedProductsTop-p {
  font-size: 14px;
  color: #3cb878;
  text-align: center;
  margin-top: 7px;
}

/* Featured Products Sngal */
.FeaturedProductsSngal {
  max-width: 330px;
  position: relative;
  margin-bottom: 53px;
  cursor: pointer;
}
.FeaturedProductsImg {
  max-width: 100%;
  height: 313px;
}

.FeaturedProductsTitle {
  font-size: 14px;
  max-width: 300px;
  height: 10px;
  margin-bottom: 26px;
}
.FeaturedProductsPrice {
  font-size: 18px;
  color: #3cb878;
}
.FeaturedProductsPrice::before {
  content: "$";
  color: #3cb878;
}

/* stars */
.stars-outer2 {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  margin-left: 10px;
}
.stars-inner2 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer2::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  color: #ccc;
}

.stars-inner2::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff9600;
}

/* options */
.FeaturedProductsSngal:hover > .options2 {
  display: block;
  cursor: pointer;
}
.options2 {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  transition: ease 400ms;
}

.options2 div {
  background-color: #3cb878;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}

/* Subscribe Clients */
#Subscribe-Clients {
  width: 100%;
  height: 300px;
}
.Subscribe-Clients {
  display: flex;
  flex-direction: row;
}
/* Subscribe */
.SubscribeTop {
  background-image: url(./img/slide5.jpg);
  background-repeat: no-repeat;
  height: 300px;
}
.Subscribe {
  padding-right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Subscribe h2 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 30px;
  color: #fff;
  margin-top: 65px;
  margin-bottom: 0;
}

.Subscribe p {
  font-size: 14px;
  margin-top: 29px;
  color: #fff;
}
.SubscribeFormemail {
  width: 400px;
  height: 45px;
  padding-right: 25px;
}
.SubscribeFormemail::placeholder {
  padding-left: 25px;
}
.SubscribeFormemail:focus {
  outline-color: #63c693;
}
/* Subscribe Form submit */
#SubscribeForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.SubscribeFormsubmit {
  height: 45px;
  width: 200px;
  border: none;
  background-color: #3cb878;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Clients */
.ClientsTOP {
  background-image: url(./img/bg\ .png);
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.Clients {
  padding-left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* footer */
footer {
  height: 459px;
}

/* social  and text*/

.SOCIAL-CONNECTION {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Text */
.footerTextInSocial {
  font-size: 14px;
}
/* social */
.F-social-icon {
  color: #fff;
  display: flex;
  column-gap: 29px;
  position: relative;
}
.F-social-icon::before {
  content: "";
  width: 1px;
  height: 45px;
  background-color: #eeeeee;
  position: absolute;
  left: -20px;
  bottom: -13px;
}
.F-social-icon::after {
  content: "";
  width: 1px;
  height: 45px;
  background-color: #eeeeee;
  position: absolute;
  right: -20px;
  bottom: -13px;
}
.F-social-icon i {
  color: #000;
  font-size: 16px;
}

.F-social-icon-Line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  display: block;
}

/* footer mid section */
.mid-section {
  height: 340px;
  display: flex;
  padding-top: 54px;
  justify-content: space-around;
}
.mid-section p {
  font-weight: 700;
  text-transform: uppercase;
}
.mid-section ul {
  padding: 0;
}
.mid-section ul li {
  margin-bottom: 22px;
}
.mid-section ul li a {
  color: #000;
}
.address p {
  font-weight: 200;
}
.address i {
  color: #000;
}
.address p:nth-child(3) {
  color: var(---green);
}

/* by */
.by {
  width: auto;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}
.Copyright p {
  color: #777777;
  font-size: 14px;
}
.by img {
  width: 45px;
  height: 29px;
}
.Copyright a {
  color: #ccc;
}

/* menu */
.menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .text-and-Button {
    margin-left: 10%;
    padding-top: 230px;
  }

  .FeaturedProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 164px;
  }

  .Subscribe-Clients {
    display: flex;
    flex-direction: column;
  }
  .SubscribeTop {
    background-image: url(./img/slide5.jpg);
    flex-basis: 50%;
    background-repeat: no-repeat;
    height: 300px;
    background-image: url(./img/slide5.jpg);
    flex-basis: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
    padding-bottom: 19px;
  }
  #Subscribe-Clients {
    width: 100%;
    height: auto;
  }
  .Subscribe-Clients {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .Subscribe {
    padding-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 19px;
  }

  .SOCIAL-CONNECTION {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 99%;
  }
}

@media screen and (max-width: 992px) {
  .container {
  }
  #Subscribe-Clients {
    width: 100%;
    height: auto;
  }
  .Subscribe-Clients {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .Subscribe {
    padding-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 19px;
  }

  .list ul {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
  }
  footer {
    height: auto;
  }
  .text-and-Button {
    margin-left: 10%;
    padding-top: 277px;
  }
  .Categories-offer div a img {
    height: 259px;
    max-width: 87%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  /* header */
  /* header Top */
  .menu {
    display: inline;
  }
  .headerTop {
    display: flex;
    justify-content: space-around;
  }

  .social {
    display: none;
  }
  /* header buttom*/
  .list {
    margin-left: -49px;
  }

  .list ul {
    display: none;
    flex-direction: row;
    column-gap: 18px;
    font-size: 15px;
  }
  .cart {
    display: flex;
    flex-direction: row;
    column-gap: 21px;
    padding-right: 24px;
  }
  /* section1 */
  #section1 {
    height: 800px;
    width: 100%;
    background-image: url(./img/pexels-moose-photos-1036623.png);
    background-size: auto;
    background-position: 67% 13%;
    background-repeat: no-repeat;
  }

  .text-and-Button {
    margin-left: 10px;
    padding-top: 370px;
  }

  .textTOW {
    font-family: "Poppins", sans-serif;
    font-size: 43px;
    font-weight: 900;
    color: #3cb878;
  }
  .section1-P {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    max-width: 553px;
    width: 43%;
  }
  .section1-button {
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: none;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    position: relative;
    padding-left: 5px;
    width: 100px;
    height: 44px;
    margin-top: 31px;
    cursor: pointer;
    margin-left: 12%;
  }
  /* BestSelles Prodect */
  .BestSellesDiv {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .BestSellesProdectImg {
    max-width: 100%;
    height: 171px;
  }
  .BestSellesProdects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 164px;
    flex-basis: 70%;
  }

  /* features */
  .features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 78%; */
    flex-wrap: wrap;
  }
  .features div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    flex: 50%;
    width: 100%;
  }
  /* Categories-offer */
  .Categories-offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 317px;
    background-color: #2e3348;
  }
  .Categories-offer div a img {
    height: 214px;
    max-width: 100px;
  }

  /* Featured Products */

  .FeaturedProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 164px;
  }
  .FeaturedProductsImg {
    max-width: 100%;
    height: 171px;
  }

  /* Subscribe-Clients  */
  .SubscribeFormsubmit {
    height: 41px;
    width: 38%;
    border: none;
    background-color: #3cb878;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
  }
  .SubscribeFormemail {
    width: 50%;
    height: 36px;
    padding-right: 25px;
  }
  .SubscribeTop {
    background-image: url(./img/slide5.jpg);
    flex-basis: 50%;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 12px;
    padding-bottom: 16px;
  }
  .Subscribe p {
    font-size: 12px;
    margin-top: 29px;
    color: #fff;
  }

  .Subscribe h2 {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 28px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 0;
  }
  /* Clients  */
  .Clients img {
    width: 100px;
  }

  /* footer */
  .SOCIAL-CONNECTION {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  /* footer */
  footer {
    height: auto;
  }
  .mid-section {
    height: auto;
    display: flex;
    padding-top: 54px;
    /* justify-content: stretch; */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .mid-section ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 360px;
  }
  .Number span {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
  }

  .s {
    color: #464646;
    margin-right: 10px;
    margin-left: 10px;
  }
  .email {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .Number {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .header top */
  .header-top-right {
    display: none;
  }
  .list {
    display: none;
  }
  .menu {
    display: inline;
  }

  /* BestSelles */
  .BestSellesDiv {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .BestSellesProdects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 164px;
  }

  .BestSellesText {
    min-width: 186px;
    margin-top: 9%;
    padding-left: 10px;
    flex-basis: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .BestSellesTextP1 {
    font-size: 17px;
    font-family: "DroidSerif-Italic", sans-serif;
    color: #3cb878;
  }
  /* BestSelles Prodect */
  .BestSellesProdect {
    max-width: 90%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
  }

  .BestSellesProdectImg {
    max-width: 300px;
    height: 80%;
  }
  /* features */
  .features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  /* Featured Products */
  .FeaturedProducts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 164px;
  }
  .FeaturedProductsSngal {
    /* max-width: 330px; */
    position: relative;
    margin-bottom: 53px;
    cursor: pointer;
    max-width: 90%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    border-bottom: 1px solid black;
    padding-bottom: 44px;
  }
  .FeaturedProductsImg {
    max-width: 300px;
    height: 80%;
  }

  /* Categories */
  .Categories-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #2e3348;
  }

  .SOCIAL-CONNECTION {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .FeaturedProducts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    margin-top: 100px;
    margin-bottom: 164px;
  }

  .by {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  /* footer */
  footer {
    height: auto;
    width: 96%;
  }
  .mid-section {
    height: auto;
    display: flex;
    padding-top: 54px;
    /* justify-content: stretch; */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .mid-section ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .s {
    color: #464646;
    margin-right: 10px;
    margin-left: 10px;
  }
  .email {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
  }
  .Number {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section1 {
    height: 800px;
    width: 100%;
    background-image: url(./img/pexels-moose-photos-1036623.png);
    background-size: auto;
    background-position: 70% 19%;
    background-repeat: no-repeat;
  }

  .textTOW {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: #3cb878;
  }
  .mid-section {
    height: auto;
    display: flex;
    padding-top: 54px;
    /* justify-content: stretch; */
    flex-direction: column;
    justify-content: center;
    width: 97%;
    align-items: center;
  }
  .mid-section {
    height: auto;
    display: flex;
    padding-top: 54px;
    /* justify-content: stretch; */
    flex-direction: column;
    justify-content: center;
    width: 97%;
    /* align-items: center; */
    text-align: center;
  }
  .F-social-icon::before {
    content: "";
    width: 0;
    height: 0;
    background-color: #eeeeee;
    position: absolute;
    left: -20px;
    bottom: -13px;
  }
  .F-social-icon::after {
    content: "";
    width: 0;
    height: 0;
    background-color: #eeeeee;
    position: absolute;
    right: -20px;
    bottom: -13px;
  }
  .Categories-offer div a img {
    height: 168px;
    max-width: 168px;
  }
}


